<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>
      Learn English from Professionals
    </h1>
    <br />
    <h2>
      My name is Michael and I am a teacher.
    </h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
